<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="com.orbitz.utils.TestListeners" />
	</listeners>


	<test name="ChromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.orbitz.com.pageobjects.BaseClass" />
		</classes>
	</test>

	<test name="FirefoxTest">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.orbitz.com.pageobjects.BaseClass" />
		</classes>
	</test>
</suite> <!-- Suite -->
